body{
	background-color: #a3ced0;
	font-family: 'Noto Sans', helvetica, arial, sans-serif;
	font-size: 14px;
	padding-top: 100px;
}

.navbar-default{
	background-color: #e8ecf3;
	min-height: 118px;
	box-shadow: 0 16px 16px -16px black;
}

.navbar-brand{
	color: #3e3a33 !important;
	font-size: 30px;
	text-shadow: 0 0;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 0;
	color: white;
}

.navbar-brand:hover{
	color: #3e3a33 !important;
}

.fl{
	float: left;
}

.navbar-brand h1{
	font-weight: bold;
	font-size: 30px;
	margin: 2px;
}

.navbar-brand a{
	font-size: 24px;
	margin: 0;
	text-decoration: none;
	font-weight: normal;
}

.navbar-brand a:hover{
	color: #4099FF;
}

.navbar-nav{
	margin-right: 30px;
}

.menuButton{
	margin: 0;
}

.menuButton a{
	color: #6a7c86;
	text-decoration: none;
	padding: 0;
	margin: 0;
	text-shadow: none;
	cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.menuButton a:hover{
	color: #f8f8fa !important;
	background-color: #a4c0d0 !important;
	box-shadow: none;
	text-shadow: none;
}

@media (min-width: 768px){
	.navbar-nav li{
		height: 118px;
		vertical-align: middle;
	}

	.navbar-nav li a{
		padding: 0 10px;
		line-height: 118px;
		height: 100%;
		vertical-align: middle;
	}
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

.sectionContainer{
	padding-top: 20px;
}

.sectionTitle{
	margin: 20px auto;
	padding: 0;
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: 0px 1px 1px black;
	font-size: 40px;
}

.PreviewItem{
	color: #3e7567;
	width: 304px;
	height: 247px;
	margin: auto;
	cursor: pointer;
}

.PreviewItem:hover{
	background-color: #3e7567;
	color: #f3f8ff;
	border-radius: 12px;
}

.PreviewItem:hover > .PreviewImage{
	border-color: #f3f8ff;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.PreviewItem > .PreviewImage{
	width: 284px;
	height: 206px;
	padding: 0px;
	margin: 10px;
	margin-bottom: 0;
	border-radius: 3px;
	border: 3px solid #3e7567;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.PreviewImage{
	width: 280px;
	height: 202px;
	padding: 0px;
	margin: auto;
	border-width: 3px;
	border-color: #3e7567;
	background-color: white;
}

.PreviewTitle{
	font-size: 16px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 3;
}

/*
.PreviewImage:hover + .InfoButton{
	color: #fddb51;
}

.PreviewImage:hover{
	border-image: url("Images/General/FrameBackgroundHover.png") 12 round;
	border-width: 7px;
}

.PreviewImage input{
	width: 100%;
	height: 100%;
	outline: 0;
}
.PreviewTitle{
	color: #d1d1d1;
	font-size: 18px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 0;
}

.InfoButton{
	margin: 0 auto;
	color: #d1d1d1;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	font-size: 18px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	outline: 0;
}

.InfoButton:hover{
	color: #fddb51;
}
*/

.close{
	color: #6a7c86;
	font-size: 28px;
	text-shadow: 0 0;
	opacity: 1.0;
	width: 40px;
	height: 40px;
	padding-top: 0;
	border-radius: 20px;
	outline: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.close:hover{
	color: #e8ecf3;
	background-color: #a4c0d0;
	opacity: 1.0;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
  max-width: 1024px;
}

.modal-content{
	background-color: #a3ced0;
	color: #191714;
}

.modal-header{
	background-color: #e8ecf3;
	text-align: center;
	height: 50px;
	padding-top: 8px;
	border-bottom: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 0 6px 6px -6px black;
}

.modal-title{
	font-size: 24px;
	color: #191714;
	font-weight: bold;
}

.modalDescription{
	margin-top: 20px;
}

.ScreenShotTitle{
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.ScreenShotList{
	display: inline-block;
}

.ScreenShotList ul{
	text-align:center;
    width: 100%;
    padding: 0;
}

.ScreenShotList li{
    position: relative;
    display: inline-block;
    text-align: center;
    border:4px solid #a3ced0;
    border-radius: 6px;
    margin: 4px;
    width: 118px;
}

.ScreenShotList li:hover{
    border-color: #3e7567;
}

.ScreenShotList li input{
	width: 100%;
	height: auto;
    display: block;
    outline: none;
    border:2px solid #3e7567;
    border-radius: 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.ScreenShotList li input:hover{
	width: 100%;
	height: auto;
    display: block;
    outline: none;
    border:2px solid white;
}

.ScreenShotDisplay{
	width: 100%;
	height: auto;
}

.sixteenNine{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.sixteenNine iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.threeFour{
	position: relative;
	padding-bottom: 75%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.threeFour img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.threeFour iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bolded{
	font-weight: bold;
}

.AboutMeImage{
	width: 449px;
	height: 594px;
	padding: 0px;
	margin: auto;
    border:6px solid #3e7567;
    border-radius: 6px;
	margin-bottom: 30px;
}

.AboutMeText{
	font-size: 18px;
	width: 100%;
	text-indent: 50px;
	color: #191714;
	padding-right: 40px;
}

a{
	font-weight: bold;
	text-decoration: underline;
	color: #3e7567;
	font-size: 1.2em;
}

a:hover{
	color: white;
}

.anchor{
	display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
/*
.modal-open[style] {
   padding-right: 0px !important;
}
*/